* {
    margin:0;
    padding:0;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background-color:rgb(47, 82, 224, 80%);
}

header {
    background: url("../assets/city-evenning.jpg") no-repeat fixed;
    background-size: cover;
    background-position:center;
    width:100%;
    height:20rem;
}

.hide {
    display: none;
}

.menu {
    width:auto;
    height:9.438rem;
    background: linear-gradient(180deg, #121212 0%, rgba(91, 89, 89, 0) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.5rem;
}

.menu h2 {
    font-family: 'Oswald', sans-serif;
    font-size:80px;
    color:#f7f7f2;
}

.links-nave {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.links-nave li {
    margin:1rem 2rem;
}

.links-nave li a{
    color: #f7f7f2;
    font-family: 'Oswald', sans-serif;
    transition: ease;
    transition-duration: 200ms;
}

.links-nave li a:hover {
    /*color:rgba(247, 247, 242, 0.836);*/
    background:rgba(247, 247, 242, 0.836);
    color: #121212;
    padding: 1rem 1.5rem;
    border-radius: 4px;
}

.links-nave .about {
    background-color: #f7f7f2;
    color: #121212;
    padding: 1rem 1.5rem;
    border-radius: 4px;
}

.links-nave .about:hover {
    background:rgba(247, 247, 242, 0.836);
}

.mobile-menu {
    position: fixed;
            left: 0;
            top: 0;
    
    background:#303030;
    
    border-radius: 0px 4px 4px 0px;
    
    width:15rem;
    height:100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: all .2s linear;
    animation-name: input;
    animation-delay: 200ms;
}

@keyframes input{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(100px);
    }
}


.mobile-menu ul {
    width: auto;
    list-style: none;
}

.mobile-menu li {
    margin:1rem;
}

.mobile-menu li {
    margin:1rem;
    padding:10px;
}

.mobile-menu a{
    color: #f7f7f2;
    font-family:"Oswald",sans-serif;
}


.mobile-menu.hide {
    display: none;
}