* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --shadow-primary: box-shadow: 2px 3px 10px 10px #12121269;  
}

html {
  scroll-behavior: smooth;
  transition: 1s ease;
}

::selection {
  background-color: rgb(47, 82, 224, 80%);
}

header {
  background: url("../assets/city-evenning.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: clamp(18rem, 20rem, 30rem);
}

@media (min-width: 780px) {
  header {
    height:28rem;
  }
}

.menu {
  width: auto;
  height: 9.438rem;
  background: linear-gradient(180deg, #121212 0%, rgba(91, 89, 89, 0) 100%);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  /* position: fixed;
            right: 0;
            left: 0; */
}

.name-title {
  font-family: "Oswald", sans-serif;
  font-size: 80px;
  color: #f7f7f2;
  margin: 1rem;
}

.links-nave {
  display: none;
}

.icon-menu {
  margin: 2rem;
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;

  background: #7f7c82;

  border-radius: 0px 4px 4px 0px;

  width: 15rem;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: all 0.2s ease;
  animation-name: slide;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  z-index: 3;
}

.mobile-menu ul {
  width: auto;
  list-style: none;
}

.mobile-menu li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.icon-aside {
  width: 2rem;
  height: 2rem;
  margin: 0px 5px 0px 5px;
}

.mobile-menu a {
  color: #f7f7f2;
  font-family: "Oswald", sans-serif;
}

.mobile-menu.hide {
  transition: all 2s ease;
  animation-name: slide_out;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes slide_out {
  from {
    transform: translateX(0px);
    opacity: 1;
    transition: all 2s ease;
  }
  to {
    transform: translateX(-100px);
    opacity: 0;
    transition: all 2s ease;
  }
}

@keyframes slide {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.prof-name {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  color: #f7f7f2;
  position: absolute;
  top: 1rem;
  right: 5rem;
  text-shadow: 0 0 5px #f7f7f2, 0 0 10px #f7f7f2, 0 0 20px #f7f7f2,
    0 0 40px #7f7c82, 0 0 80px #7f7c82;
}

.back-icon {
  position: absolute;
  bottom: 40%;
  right: 10px;
  background-color: #ccc;
  border-radius: 1rem;
  padding: 0.5rem 0.3rem;
  width: 0.1px;
  height: 3.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 3px 20px 3px #12121280;
  opacity: 0.7;
}

@media screen and (min-width: 780px) {
  .mobile-menu {
    display: none;
  }
  .icon-menu {
    display: none;
  }
  .links-nave {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 2rem;
  }

  .links-nave li {
    margin: 1rem 2rem;
  }

  .links-nave li a {
    color: #f7f7f2;
    font-family: "Oswald", sans-serif;
    transition: ease;
    transition-duration: 200ms;
  }

  .links-nave li a:hover {
    background-color: #f7f7f2;
    color: #121212;
    padding: 1rem 1.5rem;
    border-radius: 4px;
  }

  .links-nave li:nth-child(1) a {
    background-color: #f7f7f2;
    color: #121212;
    padding: 1rem 1.5rem;
    border-radius: 4px;
  }

  .links-nave li:first-child:hover a {
    background: rgba(247, 247, 242, 0.836);
  }
}

section {
  background: #303030;
  color: #f7f7f2;
}

#sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  position: relative;
}

#profile_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem;
}

.name-profile {
  font-family: "Oswald", sans-serif;
  margin: 0.8rem;
  background: #f7f7f2;
  color: #121212;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  box-shadow: 2px 3px 20px 2px #f7f7f269;
}

.image-profile {
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: 2px 3px 10px 10px #12121269;
  margin: 0.5rem;
  z-index: 1;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  padding:1rem 0px 1rem 0px;
  background: #121212;
  border-radius: 5px;
  z-index: 1;
}

.info-container h2 {
  font-family: "Roboto Mono", monospace;
  font-weight: 100;
  margin-bottom: 5px;
}

.info li {
  font-family: "Roboto Mono", monospace;
  width: 10rem;
}

.wave {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  object-fit: cover;
}

@media screen and (min-width: 780px) {
  #sobre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  .info-container {
    width: auto;
    padding: 1rem;
    background: transparent;
    border-radius: 0px;
  }
}

.biography-container {
  background:#121212;
  padding: 1rem;
  position: relative;
}

@media screen and (min-width: 700px) {
  .biography-container {
    background: linear-gradient(63.13deg, #121212 50%, #252525 50%);
  }
}

.biography-content {
  background: #303030;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.biography-content span {
  font-family: 'Oswald', sans-serif;
  font-weight:  600;
  letter-spacing:1px;

  color:#2F52E0;
  background: #f7f7f2;
  
  padding:1rem 2rem 1rem 2rem;
  margin-bottom:1rem;
  
  border-radius:4px;
}

.biography-main {
  background: #f7f7f2;

  width:95%;

  padding: 1rem;
  border-radius: 3px;
  border: none;
  z-index:1;
  box-shadow: 2px 3px 10px 10px #30303020;
}

@media screen and (min-width: 780px) {
  .biography-main {
    width:50%;
  }
}

.biography-main p {
  color: #121212;
  font-family: 'Oswald', sans-serif;
  font-size: clamp(1rem, 1.2rem, 1.5rem);
}

@media screen and (max-width: 380px) {
  .biography-main p {
    font-size: 1.1rem;
  }
}
