* {
    margin:0;
    padding:0;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background-color:rgb(47, 82, 224, 80%);
}

header {
    background: url("../assets/city-evenning.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
    width:100%;
    height:clamp(18rem, 20rem, 30rem);
}

.menu {
    width:auto;
    height:9.438rem;
    background: linear-gradient(180deg, #121212 0%, rgba(91, 89, 89, 0) 100%);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    /* position: fixed;
            right: 0;
            left: 0; */
}

.name-title {
    font-family: 'Oswald', sans-serif;
    font-size:80px;
    color:#f7f7f2;
    margin:1rem;
}

.links-nave {
    display: none;
}

.icon-menu {
    margin:2rem;
}

.mobile-menu {
    position: fixed;
            left: 0;
            top: 0;
    
    background:#303030;
    
    border-radius: 0px 4px 4px 0px;
    
    width:15rem;
    height:100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: all .2s ease;
    animation-name: slide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes slide_out {
    from{
        transform: translateX(0px);
        opacity: 1;
        transition: all 2s ease;
    }
    to{
        transform: translateX(-100px);
        opacity:0;
        transition: all 2s ease;
    }
}

@keyframes slide{
    
    from{
        transform: translateX(-100px);
        opacity:0;
    }

    to{
        transform: translateX(0px);
        opacity: 1;
    }
}


.mobile-menu ul {
    width: auto;
    list-style: none;
}

.mobile-menu li {
    margin:1rem;
}

.mobile-menu li {
    margin:1rem;
    padding:10px;
}

.mobile-menu a{
    color: #f7f7f2;
    font-family:"Oswald",sans-serif;
}

.mobile-menu.hide{
    transition: all 2s ease;
    animation-name: slide_out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    visibility: hidden;
}


.prof-name {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    color: #f7f7f2;
    position: absolute;
            top:1rem;
            right:5rem;
}

@media screen and (min-width: 780px) {
    .mobile-menu {
        display: none;
    }
    .icon-menu {
        display: none;
    }
    .links-nave {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        margin:2rem;
    }
    
    .links-nave li {
        margin:1rem 2rem;
    }
    
    .links-nave li a{
        color: #f7f7f2;
        font-family: 'Oswald', sans-serif;
        transition: ease;
        transition-duration: 200ms;
    }
    
    .links-nave li a:hover {
        /*color:rgba(247, 247, 242, 0.836);*/
        background:rgba(247, 247, 242, 0.836);
        color: #121212;
        padding: 1rem 1.5rem;
        border-radius: 4px;
    }
    
    .links-nave .about {
        background-color: #f7f7f2;
        color: #121212;
        padding: 1rem 1.5rem;
        border-radius: 4px;
    }
    
    .links-nave .about:hover {
        background:rgba(247, 247, 242, 0.836);
    }
    
}